world
world_nether
world_the_end
logs
cache
usercache.json
.console_history
plugins/bStats
plugins/Essentials
plugins/KeepChunks
plugins/LuckPerms
plugins/PluginMetrics
plugins/ProtocolLib
plugins/ServerListPlus
plugins/StackMob
plugins/Vault
runserver.bat